.w3bo-action-list {
  &__list-item {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.w3bo-action {
  width: 100%;
  display: flex;
  align-items: center;

  &__image {
    margin-left: 8px;
    margin-right: 8px;
    width: $action-icon-size;
    height: $action-icon-size;
  }

  &__button {
    margin-right: 0.5rem;

    &--rewind {
      margin-left: auto;
    }
  }

  &--invalid {
    background-color: tomato;
  }
}
