.w3bo-building {
  &__image {
    height: $building-action-icon-size;
    width: $building-action-icon-size;
  }

  &__actions {
    display: inline-grid;
    grid-template-columns: $building-action-icon-size $building-action-icon-size $building-action-icon-size $building-action-icon-size;
    grid-template-rows: $building-action-icon-size $building-action-icon-size $building-action-icon-size;
    grid-gap: 4px;
    padding: 4px;
    border-radius: 8px;
    border: 6px solid hsl(0, 0%, 12%);
    position: absolute;

    &--available {
      z-index: 1;
      position: relative;
    }

    &--all-actions {
      background-color: hsl(0, 0%, 16%);
      box-shadow: 2px 2px 8px -2px hsl(0deg 0% 5%);
    }
  }

  &__action-button {
    margin: 0;
    padding: 0;
    border: 0;
    height: $building-action-icon-size;
    width: $building-action-icon-size;
    transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      transform: translateX(-1px);
      box-shadow: 2px 2px 8px -4px hsl(0, 0%, 75%);
    }
  }

  &__action-image {
    width: $building-action-icon-size;
    height: $building-action-icon-size;
  }
}
