.w3bo-buildings {
  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__item {
    position: relative;
    z-index: 0;

    &.selected {
      box-shadow: 0 0 8px 2px hsl(0, 0%, 90%);
      z-index: 1;
    }
  }
}

.w3bo-building {
  &--available {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    width: $building-list-icon-size;
    height: $building-list-icon-size;
  }

  &__progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: yellow;
    transition: right 200ms ease-in-out;
  }
}
