$theme-colors: (
  "primary": #00b359,
);

$action-icon-size: 32px;
$building-action-icon-size: 48px;
$building-list-icon-size: 48px;
$item-list-icon-size: 48px;
$unit-list-icon-size: 32px;
$upgrade-list-icon-size: 48px;
$worker-action-icon-size: 32px;
