$size: 48px;

.w3bo-worker-actions {
  position: relative;

  &__image {
    height: $size;
    width: $size;
  }

  &__actions {
    display: inline-grid;
    grid-template-columns: $size $size $size $size;
    grid-template-rows: $size $size $size;
    grid-gap: 4px;
    padding: 4px;
    border-radius: 8px;
    border: 6px solid hsl(0, 0%, 12%);
    position: absolute;
    top: 0;
    left: 0;

    &--all-actions {
      background-color: hsl(0, 0%, 16%);
      box-shadow: 2px 2px 8px -2px hsl(0deg 0% 5%);
    }

    &--available {
      position: relative;
      z-index: 1;
    }
  }

  &__action-button {
    margin: 0;
    padding: 0;
    height: $size;
    width: $size;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      transform: translateX(-1px) translateY(-1px);
      box-shadow: 2px 2px 8px -4px hsl(0, 0%, 75%);
    }
  }

  &__action-image {
    width: $size;
    height: $size;
  }
}
